nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--secondary-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
}
